# Dependency directories
*/*/node_modules/
*/node_modules/
node_modules/

# Data SQL
Data/Postgres_data*
Data/Minio_data*

# fichier .env
*.env

#*.env.local*
# ..env
#*.env
#*.env.local*

# Mac file
*.DS_Store
*.thumbs.db

# IDE files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# logs
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
# Quasar

# Quasar core related directories
FrontEnd/Quasar/.quasar/
FrontEnd/Quasar/dist/
FrontEnd/Quasar/.vscode
FrontEnd/Quasar/quasar.config.*.temporary.compiled*

# Cordova related directories and files
FrontEnd/Quasar/src-cordova/node_modules
FrontEnd/Quasar/src-cordova/platforms
FrontEnd/Quasar/src-cordova/plugins
FrontEnd/Quasar/src-cordova/www

# Capacitor related directories and files
FrontEnd/Quasar/src-capacitor/www
FrontEnd/Quasar/src-capacitor/node_modules

# BEX related directories and files
FrontEnd/Quasar/src-bex/www
FrontEnd/Quasar/src-bex/js/core